@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');

/* 2. 設置內容字體 */
/* 根據 Hextra 的自定義文檔，使用 .content 選擇器來更改內容字體。 */
.content {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}